/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.container{
    padding: 0 5%;
}
@media (max-width: 768px) { 
    .hero{
        padding-top: 51px;
    }
    .hero-button-container{
       display:block;
       margin-right:1rem;
       margin-top: 1rem;
   }
   .hero-button{
    margin-top:0;
}
.hero-button:last-child{
    margin-bottom:1rem;
}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-button{
        width: 45%;
    }
    .container{
        height: 100vh;
    }
    .hero-button{
        width:200px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

body{
    background-color:white; 
    /*min-width: 360px;*/
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/HelveticaNeue.ttf) format("truetype");
}
h1, h2, h3, h4, p{
    //font-family: 'Roboto', sans-serif !important;
}
.hero{
    background-image:url("../img/herounit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    width:100%;
}
.herooverlay{
    background: rgba(39,141,230,0.75);
    background: -moz-linear-gradient(left, rgba(39,141,230,0.75) 0%, rgba(241,111,92,0.18) 76%, rgba(52,124,247,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,141,230,0.75)), color-stop(76%, rgba(241,111,92,0.18)), color-stop(100%, rgba(52,124,247,0)));
    background: -webkit-linear-gradient(left, rgba(39,141,230,0.75) 0%, rgba(241,111,92,0.18) 76%, rgba(52,124,247,0) 100%);
    background: -o-linear-gradient(left, rgba(39,141,230,0.75) 0%, rgba(241,111,92,0.18) 76%, rgba(52,124,247,0) 100%);
    background: -ms-linear-gradient(left, rgba(39,141,230,0.75) 0%, rgba(241,111,92,0.18) 76%, rgba(52,124,247,0) 100%);
    background: linear-gradient(to right, rgba(39,141,230,0.75) 0%, rgba(241,111,92,0.18) 76%, rgba(52,124,247,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278de6', endColorstr='#347cf7', GradientType=1 );
    z-index:10;
    width:100%;
    min-height:100%;
}
.hero-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-contents h1{
    font-size: 2rem;
}
.features{
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.features img{
    max-height: 75px;
    max-width: 75px;
    padding-bottom: 5px;
}
.features h1, h2, h3{
    text-transform: uppercase;
    font-family: "Helvetica Neue", Verdana, Tahoma;
}
.feature-item{
    text-align: center;
    max-width: 50%;
    padding: 0 5%;
}
.subheader{
    font-size:4em;
    color:white;
    font-weight:300;
}
.catch{
    color:white;
    font-size:3em;
    font-weight:200;
}
.black{
    color:black;
}
.center{
    text-align: center;
}
.tag{
    font-size:1.5em;
}
.ss{
    font-family: 'Source Sans Pro', sans-serif;
}
.la-header{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}
.la-start{
    padding-top:50px;
    font-family: 'Lato', sans-serif !important;
    font-weight:300;
    color:black;
    text-align:center;
    font-size:3.4em;
}
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  }*/